.pai-dos-itens{
   display: flex;
   flex-direction: column;
   gap: 30px;
}

.pai-dos-itens .produtos{
    width: 300px;
    background-color: rgb(200, 142, 255);
    display: flex;
    flex-direction: column;
}

.pai-dos-itens .produtos img{
    width: 100px;
}

.pai-dos-itens .produtos button{
    display: flex;
    margin: auto;
    
  }